# Count Encoding/Frequency Encoding

#### Another way to refer to variables that have a multitude of categories, is to call them variables with high cardinality.
#### One approach that is heavily used in Kaggle competitions, is to replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent.

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('train.csv', usecols=['X1','X2'])
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [2]:
data.shape

(4209, 2)

In [3]:
### When we perform one hot encoding

pd.get_dummies(data).shape

(4209, 71)

In [4]:
### Back to count encoding

len(data['X1'].unique())

27

In [5]:
len(data['X2'].unique())

44

In [7]:
# let's obtain the counts for each one of the labels in variable X2
# let's capture this in a dictionary that we can use to re-map the labels

data.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'j': 1,
 'af': 1,
 'aa': 1,
 'am': 1,
 'c': 1,
 'o': 1,
 'l': 1,
 'ar': 1}

In [8]:
# And now let's replace each label in X2 by its count

# first we make a dictionary that maps each label to the counts
data_frequency_map = data.X2.value_counts().to_dict()

In [10]:
data.head(100)

    X1  X2
0    v  at
1    t  av
2    w   n
3    t   n
4    v   n
..  ..  ..
95   b   m
96   l  as
97  aa  as
98   b   m
99   s   m

[100 rows x 2 columns]

In [12]:
# and now we replace X2 labels in the dataset df
data.X2 = data.X2.map(data_frequency_map)

data.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

### Advantages

    #### It is very simple to implement
    #### Does not increase the feature dimensional space

### Disadvantages

    #### If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.

#### Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power