<a href="https://colab.research.google.com/github/JayDock/My-journey-to-Machine-Learning/blob/main/Set%2C_Dictionary%2C_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Set**


Set is an unordered collection of elements. They are mutable, iterable and has **no duplicate elements**. Sets are represented in {}. This is based on a data structure known as hash table..There is no indexing in sets

In [2]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var = {1,2,3,4,2}
set_var

{1, 2, 3, 4}

In [5]:
set_var = {'colors', 'food', 'journey'}
print(set_var)
print(type(set_var))

{'food', 'colors', 'journey'}
<class 'set'>

In [6]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

# **In-built functions in Set**

In [8]:
set_var.add('Hulk')
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [14]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [15]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [18]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [17]:
set2.union(set1)

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [13]:
set2.difference(set1)

{'Hulk2'}

In [10]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [12]:
set2.difference_update(set1)
set2

{'Hulk2'}

# **Dictionaries**

Dictionaries are mutable, unorderd, iterable and indexed...The elements in dictioanries are represented as key-value pairs. Here also we use {} similar to sets but the elements are represented as key:value pairs. In here, indexing is not done by using index number, it's done by key

In [20]:
dic = {}
type(dic)

dict

In [21]:
st = {1, 2, 3, 4}
type(st)

set

In [22]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [23]:
type(my_dict)

dict

In [25]:
my_dict['Car1']

'Audi'

In [27]:
for x in my_dict:
  print(x)

Car1
Car2
Car3

In [28]:
for x in my_dict.values():
  print(x)

Audi
BMW
Mercidies Benz

In [29]:
for x in my_dict.items():
  print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [30]:
# to add new key:vale pair
my_dict['Car4'] = 'Maruti'
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Maruti'}

In [31]:
my_dict['Car1'] = 'BMW'
my_dict

{'Car1': 'BMW', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Maruti'}

# **Nested Dictionary**

In [36]:
car_model1 = {'Maruti':2000}
car_model2 = {'Audi':2010}
car_model3 = {'Eon':2013}

car_type = {'Car1':car_model1, 'Car2': car_model2, 'Car3': car_model3}
car_type

{'Car1': {'Maruti': 2000}, 'Car2': {'Audi': 2010}, 'Car3': {'Eon': 2013}}

In [37]:
print(car_type['Car1'])

{'Maruti': 2000}

In [41]:
print(car_type['Car1']['Maruti'])

2000

## **Tuples**

In tuples indexing are done, we cannot change an element in a tuple...we can entirely change the whole tuple, but elementwise is not possible..
tuple is represented as ()

In [42]:
my_tuple = tuple()

In [43]:
type(my_tuple)

tuple

In [44]:
my_tuple = ()
type(my_tuple)

tuple

In [45]:
my_tuple = ('Jaya', 'Lakshmi','Krishnan')
my_tuple[0]

'Jaya'

In [46]:
my_tuple[0] = 'Kavi'

TypeError: ignored

In [47]:
my_tuple = ('hai', 'hello')
my_tuple

('hai', 'hello')

In [50]:
#inbuilt function

my_tuple = ('Jaya', 'Lakshmi','Krishnan', 'Jaya')
my_tuple.count('Jaya')

2

In [51]:
my_tuple.index('Lakshmi')

1

In [52]:
my_tuple.index('Jaya')

0